.volume {
    width:100px;
  }
  
.soundDiv {
    display: flex;
    gap:15px;
    font-size: 20px;
    align-items:center;
    width: 300px;
    justify-content: end;
  }

.pausePlay {
    font-size: 35px;
    transition: transform 0.2s;
}

.pausePlay:hover {
    transform: scale(1.1);
}

.forback {
    font-size: 16px;
    transition: transform 0.2s;
}

.forback:hover {
    transform: scale(1.4);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.progress {
    width:450px;
}

.progress .ant-slider-track {
    background-color: #a1a1a3;
}

.progress .ant-slider-handle {
    background-color: rgb(86, 225, 86);
}

.cover {
    height: 80px;
}

.songTitle {
    font-size: 16px;
    color: white;
}

.songAlbum {
    font-size: 12px;
}